.portfolio{
    background: linear-gradient(360deg, rgb(75, 79, 86) 0%, rgb(24, 26, 29) 100%);
    min-height: calc(100vh - 3em);
}

.portfolio h1{
  color: rgb(251, 251, 251);
  font-weight: 900;
}

.portfolio span{
  color: rgb(218, 165, 32);
}

.card-title{
  font-size: 1.5em;
  font-weight: 900;
}

.card {
    position: relative;
    overflow: hidden;
    width: 23em;
}

.card:hover .card-overlay {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    text-align: center;
    color: #fff;
}

.animate-projects {
    opacity: 0;
    transform: translateY(0);
}

.card-button{
    --bs-btn-active-bg: rgb(251, 251, 251);
    --bs-btn-active-color: rgb(218, 165, 32);
    --bs-btn-active-border-color: rgb(251, 251, 251);
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  
.animate-enter {
  animation: fadeIn 5s forwards;
}
