.container-fluid {
    background-color: rgb(29, 35, 51);
}

.row{
    background-color: rgb(29, 35, 51);
    _background-color: rgb(27,30,39, 0.8);
    min-height: 100vh;
    color:rgb(251,251,251);
    display: flex;
    align-items: flex-start;
    background:linear-gradient(0deg, rgba(0, 0, 0.2, 0.3), rgba(0, 0, 0.2, 0.3)),
    url(./profile.png) no-repeat center right fixed;
        background-size: contain;
}

/* .btn-outline-info {
    border-width: 2px;
    font-weight: 700;
    --bs-btn-color:  rgb(218,165,32);
    --bs-btn-border-color: rgb(251,251,251);
    --bs-btn-hover-bg: rgb(218,165,32);
    --bs-btn-hover-border-color:  rgb(218,165,32);
    --bs-btn-active-bg:  rgb(218,165,32);
    --bs-btn-active-border-color:  rgb(218,165,32);
    --bs-btn-disabled-color:  rgb(218,165,32);
    --bs-btn-active-color: rgb(251,251,251);
    --bs-btn-hover-color:  rgb(251,251,251);
} */

h1 span {
    font-weight: 900;
}

h3{
    color: rgb(218, 165, 32);
    font-weight: 800;
}
  
.animate {
    display: inline-block;
    transform: translateY(70%);
    transition: transform 1s ease;
    align-items: flex-start;
}

.social{
    display: flex;
    justify-content: left;
    gap: 2em;
}

a{
   color: rgb(251, 251, 251);
}
a:hover {
   color: rgb(218, 165, 32);
}

p{
    opacity: 0.7;
}


  
  


