.contact {
    background: linear-gradient(0deg, rgba(0, 0, 0.2, 0.6), rgba(0, 0, 0.2, 0.7)),
            url(./contact-background.jpeg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 3.5em);
}

.contact-intro{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-box{
    width: 90%;
    display: flex;
    gap:1em;
    justify-content:right;
    padding-bottom: 3em;
}

.animate-contact-info {
    display: flex;
    transform: translateX(15%);
    transition: transform 1.5s ease;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1em;
}

.link-contact{
    width: 90%;
    text-decoration: none;
    padding-bottom: 0.7em;
}

.icons{
    display: flex;
    width: 10%;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: right;
}

.links{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    text-align: left;
    word-wrap: break-word;
}

.links h5{
    font-weight: bold;
    color: rgb(251,251,251);
    cursor:default;
}

.contact-info{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.span{
    color: rgb(218, 165, 32);
    font-weight: 800;
    font-size: 1.5em;
    text-align: center; 
}

@media only screen and (min-width: 576px) {
.link-contact{
    padding-bottom: 0.5em;
}
}