.navbar-nav{
    align-items: center;
}

.nav-tabs .nav-link {
    border-width: 2px;
    font-weight: 700;
    border-bottom: none;
}
.nav-tabs .nav-link.active {
    color:  rgb(218,165,32);
    background-color: rgb(33,37,41);
}
   


