.navbar-nav{
    align-items: center;
}

.nav-tabs .nav-link {
    border-width: 2px;
    font-weight: 700;
    border-bottom: none;
}
.nav-tabs .nav-link.active {
    color:  rgb(218,165,32);
    background-color: rgb(33,37,41);
}

@media only screen and (max-width: 575px) {
    .offcanvas {
            color: rgb(153, 156, 163);
            background: linear-gradient(0deg, rgba(0, 0, 0.2, 0.9), rgba(0, 0, 0.2, 0.7))
        }
    
        .btn-close {
            color: rgb(153, 156, 163);
            background-color: rgb(153, 156, 163);
            opacity: 1;
        }
    
        .nav-tabs .nav-link.active {
            background-color: rgb(33 37 41 / 0%);
        }
        .nav-tabs .nav-link{
            border: none;
        }
        .nav-tabs{
            
            border-bottom: none;
        }
        .offcanvas{
            --bs-offcanvas-width: 100%;
        }
}
   


